*~
.#*
#*
mpas-jedi*
ioda*
CMakeLists.txt_2022-10-13_success
crontab*.txt
graphics*
out.*
test_abi_read/*.x
test_abi_read/d.*
test_abi_read/fort.*
test_abi_read/r
test_abi_read/b
test_abi_read/*.in
test_abi_read/*.out
*.nc4
basiclib/
